* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap%27');


@media only screen and (min-width: 800px) {
    .main-content {
        width: 700px;
        padding-top: 250px;
        padding-left: 130px;
    }

    .menu-container {
        display: none;
    }

    .header-title {
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: 30px;
    }


}


.dropdown {
    /*background-color: #b81c1c80;*/
    position: absolute;
    z-index: 1;
    top: 105%;
    display: none;
    width: 100%;
    height: 100%;
    left: 1%;
    transition: .5s bottom;
}

@media only screen and (max-width: 800px) {
    .main-content {
        display: flex;
        justify-content: center;
        vertical-align: center;
        height: 100%;
    }

    .main-title {
        margin-top: 210px !important;
    }
}

@media only screen and (max-width: 500px) {
    .main-title {
        padding: 40px !important;
        font-size: 40px !important;
    }
}

body {
    position: relative;
    width: 100%;
    margin: 0px;
}

.background-image-container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin: 0px;
    background-image: url("https://fondosmil.com/fondo/75572.jpg");
    /*
    https://fondosmil.com/fondo/75567.jpg
    https://fondosmil.com/fondo/75575.jpg
    */
    background-size: cover;
    background-position: center;
}

.image-overlay {
    background: rgba(0, 0, 0, 0.533);
    width: 100%;
    height: 100%;
}

.what-we-do-link {
    position: relative;
}

.flecha-abajo {
    position: absolute;
    top: 8%;
    margin-left: 3px;
    transform: rotate(0deg);
    transition: .3s transform;
}

.main-title {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin: 0px;
}

.main-link {
    margin-top: 20px;
    border-bottom: 2px solid #4b4833;
    font-weight: bold;
}

.find-out-more {
    position: relative;
    margin-top: 33px;
}

a {
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
}

.dropdown {
    /*background-color: #b81c1c80;*/
    position: absolute;
    z-index: 1;
    top: 105%;
    display: none;
    width: 100%;
    height: 100%;
    left: 1%;
    transition: .5s bottom;
}

.bottom-part {
    width: 100%;
    height: 250px;
    background-color: red;
}