* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap%27');


@media only screen and (min-width: 800px) {
    .main-content {
        width: 700px;
        padding-top: 250px;
        padding-left: 130px;
    }

    .menu-container {
        display: none;
    }

    .header-title {
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: 30px;
    }


}


.dropdown {
    /*background-color: #b81c1c80;*/
    position: absolute;
    z-index: 1;
    top: 105%;
    display: none;
    width: 100%;
    height: 100%;
    left: 1%;
    transition: .5s bottom;
}

.dropdown.open {
    display: block;
}

.dropdown.close {
    display: none;
}


.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #80808024;
}

.dropdown-menu li:hover {
    background-color: #bdbdbd;
    cursor: pointer;
    color: white;
}


.dropdown-menu li:last-child {
    border-bottom: none;
}

@media only screen and (max-width: 800px) {
    .header-title {
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: 30px;
    }


    .main-content {
        display: flex;
        justify-content: center;
        vertical-align: center;
    }

    .menu-container {
        display: flex;
        margin: 0;
        position: absolute;
        top: 50%;
        right: 0%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .menu {
        color: white;
        font-size: large;
        margin-top: 5px;
        margin-right: 10px;
    }

    .header-nav {
        display: none;
    }

    .web-info {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .menu-container {
        display: flex;
        margin: 0;
        position: absolute;
        top: 50%;
        right: 0%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .main-content {
        width: auto;
    }

    .header-title {
        margin-left: 20px;
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

body {
    position: relative;
    width: 100%;
    margin: 0px;
}

.menu-bars {
    background: none;
    border: none;
}


.titles {
    font-family: "Playfair Display", Georgia, serif;
}


.background-image-container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin: 0px;
    background-image: url("https://fondosmil.com/fondo/75572.jpg");
    /*
    https://fondosmil.com/fondo/75567.jpg
    https://fondosmil.com/fondo/75575.jpg
    */
    background-size: cover;
    background-position: center;
}

.image-overlay {
    background: rgba(0, 0, 0, 0.533);
    width: 100%;
    height: 100%;
}

.header-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 10px;
}


.what-we-do-link {
    position: relative;
}

.flecha-abajo {
    position: absolute;
    top: 8%;
    margin-left: 3px;
    transform: rotate(0deg);
    transition: .3s transform;
}




.main-title {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin: 0px;
}

.main-link {
    margin-top: 20px;
    border-bottom: 2px solid #4b4833;
    font-weight: bold;
}

.find-out-more {
    position: relative;
    margin-top: 33px;
}

a {
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
}


.header-nav-links {
    box-shadow: inset 0 0px 0 #928951;
    transition: box-shadow 0.2s ease-i;
    margin-left: 40px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.header-nav-links:hover {
    box-shadow: inset 0 -4px 0 #928951;
}

.contact-links-container {
    margin: 0%;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar {
    background-color: rgb(199, 103, 103);
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: .5s left;
}

.sidebar.open {
    left: 0px;
}

.hamburguesa {
    position: absolute;
    top: -602%;
}

.close-sidebar {
    float: right;
    background: none;
    border: none;
}

.dropdown {
    /*background-color: #b81c1c80;*/
    position: absolute;
    z-index: 1;
    top: 105%;
    display: none;
    width: 100%;
    height: 100%;
    left: 1%;
    transition: .5s bottom;
}

.dropdown.close {
    display: none;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #80808024;
}

.dropdown-menu li:hover {
    background-color: #bdbdbd;
    cursor: pointer;
    color: white;
}

.dropdown-menu.open {
    display: block;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.bottom-part {
    width: 100%;
    height: 250px;
    background-color: red;
}

.flecha-abajo.open {
    transform: rotate(180deg);
}

header {
    position: relative;
    bottom: 10%;
    height: 100px;
    background-color: #282d32;
}